{% extends 'card.html' %}

{% block form %}

    <h5 class="card-title text-center">Edit Note</h5>
    <form action="{% url 'note_edit' slug=object.slug %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Update">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
            <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>

{% endblock %}