{% extends 'card.html' %}
{% block form %}

    <h5 class="card-title text-center">{{ title }}</h5>
    <div class="form-label-group">
        <p>{{ text }}</p>
    </div>
    <div class="form-group">
        <a href="{% url 'note_edit' slug %}">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Edit
            </button>
        </a>
        <a href="{% url 'detail_category' slug_cat %}">
            <button type="submit" class="btn btn-secondary">Cancel</button>
        </a>
        <a href="{% url 'note_delete' slug %}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </a>
    </div>

{% endblock %}